.click-area {
    min-height: 100%;
    width: 60%;
    margin-top: 30px;
    text-align: center;
}
#balance {
    text-align: center;
    color: #28e637;
    font-size: 30px;
    font-weight: 900;
    user-select: none;
}