.click-area {
    height: 100%;
    width: 60%;
    margin-top: 10px;
    float: left;
    text-align: center;
    display: block;
    user-select: none;
    color: #28e637;
}
#bank-image-transparent {
    height: 300px;
    width: 300px;
    box-shadow: 1px 0px 37px 0px #111111;
} 