body {
    background-color: rgb(31, 31, 31);
    color: rgb(233, 233, 233);
    font-family: 'Rubik', sans-serif;
}

.game-area {
    margin-top: 20px;
    margin-left: 3vw;
    margin-right: 3vw;
    width: auto;
    height: auto;
    display: table;
    table-layout: fixed;
}




