body {
    background-image: url("../images/background.jpg");
    font-family: 'Rubik', sans-serif;
    color: azure;
}

.game-area {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 5%;
    width: auto;
    height: auto;
    display: table;
    table-layout: fixed;
}




