.menu {
	height: 95vh;
	width: auto;
	float: left;
	box-shadow: 1px 0px 37px 0px #111111;
	border-radius: 20px;
	background-color: #252525;
}


.nav-menu {
	width: 100%;
	margin-bottom: 10px;
	overflow-y: hidden;
	background-color: #2b2b2b;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.233);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.nav-scroller__items {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	white-space: nowrap;
	font-size: 22px;
	font-weight: bold;
}
.nav-scroller__item {
	color: rgb(233, 233, 233);
	display: flex;
	padding: 0.5rem 1.25rem;
	text-decoration: none;
}
.nav-scroller__item:hover:not(.active) {
	color: #28e637;
}  
.nav-scroller__item.active {
	border-bottom: 2px solid #28e637;
}


.upgrade-menu {
	max-height: 94%;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: scroll;
}
.upgrade-menu::-webkit-scrollbar {
	width: 0;
}
.upgrade {
	width: inherit;
	margin-bottom: 10px;
	line-height: 0.5em;
	border-radius: 20px;
	background-color: #2b2b2b;
}
.upgrade-name {
	height: 15px;
	padding-top: 15px;
	font-size: 22px;
	font-weight: 500;
}
.upgrade-amount {
	height: 20px;
	padding-top: 20px;
	font-size: 14px;
	font-weight: 100;
}
.upgrade-purchase-buttons {
	width: auto;
	padding-bottom: 10px;
	float: right;
}

